<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 fw-normal">Sisteme Giriş</h1>
  </div>
</form>

<div class="form-floating">
  <input type="text" #userName="ngModel" [(ngModel)]="model.userName" id="userName" name="userName" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Kullanıcı Adı </label>
</div>
<div class="form-floating">
  <input type="text" #password="ngModel" [(ngModel)]="model.userName" id="password" 
  id="password" name="password" placeholder="Password">
  <label for="floatingPassword">Şifre</label>
</div>

<button class="w-100 btn btn-lg btn-primary" type="submit">Giriş</button>
<p class="mt-5 mb-3 text-muted">Kübra ERBİLEN&copy; 2022</p>